.home-cont{
    width: 100%;
    height: auto;
    padding: 0px;
    position: relative;
    top: 0px;
    left: 0px;
    margin: 0px;
    /* overflow: hidden; */
    background: var(--home-bg2);
    font-family: var(--poppin);
    scroll-behavior: smooth;
}

.home-cont .main{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
}

.home-cont .main .left-cont{
    width: 150px;
    max-width: 100px;
    height: 100vh;
    background: var(--home-bg1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    overflow: hidden;
} 
.home-cont .main .left-cont .icon{
    font-size: 20px;
    padding: 8px;
    width: 100px;
    height: 50px;
    color: #000;
    background: var(--fitness-comp3);
    /* position: absolute; */
    top: 0px;
    left: 0px;
    color: var(--fitness-comp);
    cursor: pointer;
}

.home-cont .main .left-cont .bottom{
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.home-cont .main .left-cont .bottom .line{
    width: 3px;
    height: 90px;
    background: var(--fitness-bg);
    border-radius: 30px;
}


.home-cont .main .left-cont .bottom .count{
    width: 30px;
    height: 30px;
    background: var(--fitness-bg);
    color: #777;
    border-radius: 50%;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 10px;
    font-weight: 500;
}
.home-cont .main .left-cont .bottom .count.active{
    background: var(--fitness-comp3);
    color: var(--fitness-comp);
}

.home-cont .main .right-cont{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.home-cont .main .right-cont .brand{
    position: absolute;
    top: 10px;
    left: 10px;
    color: var(--fitness-comp);
    font-weight: 500;
}

.home-cont .main .right-cont .bx-cont{
    width: 50%;
    height: 100vh;
    background: var(--home-bg1);
}

.home-cont .main .right-cont .bx-cont .con{
    position: absolute;
    top: 100px;
    left: 150px;
    width: 50%;
    height: 400px;
    background: var(--home-bg1);
    padding: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
.home-cont .main .right-cont .bx-cont .con h1{
    font-weight: 700;
    color: #fff;
}

.home-cont .main .right-cont .bx-cont .con p{
    color: var(--light3);
    opacity: .9;
}
.home-cont .main .right-cont .bx-cont .con .btn{
    padding: 10px 20px;
    background:#000;
    border: 2px solid var(--fitness-comp);
    color: var(--fitness-comp);
}

.home-cont .main .right-cont .bg-image{
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    background: var(--home-bg2);
    /* background-image: url("../../assets//img/mockup.png");
    background-size: contain;
    background-position: center;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-repeat: no-repeat; */
}

.home-cont .main .right-cont .bx-cont img{
    width: 250px;
    position: absolute;
    right: 10%;
    top: 50px;
    margin: 10px auto;
}


/* Sidebar Contf */
.home-sidebar-cont{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgba(0,0,0,.8);
    overflow: hidden;
    transition: all .2s ease;
    overflow-y: auto;
}

.home-sidebar-cont.close{
    height: 0px;
    transition: all .2s ease;
}   

.home-sidebar-cont .icon{
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 35px;
    padding: 10px;
    background: var(--red2);
    color: var(--red1);
    border-radius: 50%;
    transform: scale(.90);
    transition: all .2s ease;
}

.home-sidebar-cont .icon:hover{
    transform: scale(.95);
    transition: all .2s ease;
    cursor: pointer;
}

.home-sidebar-cont .list{
    width: 100%;
    height: auto;
    font-size: 35px;
    color: var(--fitness-comp);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.home-sidebar-cont .list li{
    padding: 0px;
    width: 50%;
    line-height: 100px;
    cursor: pointer;
    margin-top: 10px;
    text-align: center;
}

.home-sidebar-cont .list li:hover{
    color: var(--fitness-comp2);
}

/* Features */
.home-cont .main .features-cont{
    width: 100%;
    height: 100vh;
    position: relative;
}

.home-cont .main .features-cont .top-head{
    width:100%;
    height: auto;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    color: var(--light3);
}
.home-cont .main .features-cont .top-head .line{
    width: 200px;
    height: 3px;
    background: var(--fitness-comp3);
    margin-right: 10px;
}

.home-cont .main .features-cont .top-head p{
    padding: 10px;
}

.home-cont .main .features-cont .features-lists{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.home-cont .main .features-cont .features-lists .bx{
    width: 100%;
    height: 200px;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #ccc;
}

.home-cont .main .features-cont .features-lists .bx .left{
    width: 50%;
    height:150px;
    text-align: start;
}
.home-cont .main .features-cont .features-lists .bx .right{
    width: 50%;
    height:150px;
    text-align: start;
}


.home-cont .main .features-cont .features-lists .bx .left .count{
    width: 40%;
    height: 120px;
    background: var(--fitness-comp3);
    color: var(--fitness-comp);
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-weight: 500;
    border-radius: 20px;
}


.home-cont .main .features-cont .features-lists .bx .right .count{
    width: 40%;
    height: 120px;
    background: var(--fitness-comp3);
    color: var(--fitness-comp);
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-weight: 500;
    border-radius: 20px;
}

.home-cont .main .about-cont{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: #fff;
    
}

.home-cont .main .about-cont img{
    width: 250px;
}

.home-cont .main .about-cont .btn{
    background: var(--fitness-bg);
    color: var(--fitness-comp);
    border: 2px solid var(--fitness-comp);
}